mne==1.7.0
wfdb==4.1.0
h5py==3.11.0
scipy==1.13.0
neurokit2==0.2.7
pandas<2.0.0
numpy==1.26.4
tqdm==4.66.4
scikit-learn==1.4.2
torch
pytest
einops
huggingface_hub
omegaconf
PyYAML
pytorch-lightning
wandb
torchmetrics
shap
pingouin
netcal
onnx
onnxruntime
tensorflow
onnx-tf
fvcore
jupyter
seaborn
matplotlib
flwr
